[Desktop Entry]
Version=1.0
Name=Obsidan
Comment=Start Obsidan Organizer
Exec=/home/vil/bin/Obsidian-1.0.0.AppImage --no-sandbox %U
Icon=obsidian
Terminal=false
Type=Application
StartupWMClass=obsidian
X-AppImage-Version=1.0.0
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;